/*  ==============================================================
      References
    ==============================================================  */
/**
 * #cccccc - light grey
 * #666666 - dark grey
 * #222222 - cool black
 * #000000 - black
 */

/*  ==============================================================
       Default CSS
     ==============================================================  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  color: #222;
  position: relative;
  overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

footer {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", "Bahnschrift Condensed", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 7.5em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.5em;
}

a {
  color: #000;
  text-decoration: none;
}

ul li {
	list-style: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: #444;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

hr {
  margin: 0 10em;
  border-top: solid #000 1px;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  header {
    position: static;
  }
}

/*  ==============================================================
      Mandatory CSS
    ==============================================================  */
.navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 3em;
  height: 100px;
  width: 100%;
}

.navbar--mobile {
  display: none;
  text-align: center;
  padding: 1em 0;
}

.navbar--mobile .navbar__link {
  display: block;
  margin: 0;
}

.navbar--mobile .navbar__link a {
  display: block;
  padding: 0.5em 0;
  transition: background-color 0.2s, color 0.2s;
}

.navbar--mobile .navbar__link--active {
  background-color: #333;
}

.navbar--mobile .navbar__link--active a {
  color: #ccc;
}

.navbar--mobile .navbar__logo {
  margin: auto;
  margin-bottom: 0.5em;
  float: none;
  width: 175px;
}

.navbar--mobile .navbar__logo:hover {
  border-style: none;
  outline: solid #222 1px;
}

.navbar--mobile .navbar__link:hover {
  border-style: none;
}

.navbar--mobile .navbar__link a:hover {
  border-style: none;
  background-color: #222;
  color: #fff;
}

.navbar--mobile .navbar__link--active {
  border-style: none;
}

.navbar--mobile hr {
  margin: 1em 10em;
}

.navbar--trans {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
}

.navbar--white a {
  color: #fff;
}

.navbar__logo {
  float: left;
  margin-left: 1px;
  padding: 1em 1em 0.5em 1em;
}

.navbar__logo:hover {
  border-color: #222;
  border-style: solid none;
  border-width: 1px;
}

.navbar--white .navbar__logo:hover {
  border-color: #fff;
  border-style: solid none;
  border-width: 1px;
}

.navbar__link {
  display: inline;
  margin-left: 3em;
  text-transform: uppercase;
}

.navbar__link:hover {
  border-bottom: solid #222 1px;
}

.navbar--white .navbar__link:hover {
  border-bottom: solid #fff 1px;
}

.navbar__link--active {
  border-bottom: solid #222 1px;
  font-weight: 700;
}

.navbar--white .navbar__link--active {
  border-bottom: solid #fff 1px;
  font-weight: 700;
}

.disclaimer {
  background-color: #aaa;
  margin: 1em 0;
  padding: 1em 10em;
}

.disclaimer__title {
  margin-bottom: 0.5em;
  text-align: center;
}

.disclaimer__text {
  line-height: 1em;
  text-align: center;
}

.footer {
  background-color: #333;
  height: 525px;
  position: relative;
  width: 100%;
}

.finfo__col-2 li::before {
  content: ">";
  margin-right: 1em;
}

.footer__logo {
  padding: 3em;
  text-align: center;
}

.finfo {
  color: #ccc;
  display: flex;
  justify-content: space-around;
  padding: 3em 10em;
  width: 100%;
}

.finfo__title {
  margin-bottom: 1em;
}

.finfo__p {
  line-height: 0.8em;
  margin-bottom: 2em;
}

.finfo__button {
  margin-top: 2em;
  text-align: center;
}

.finfo__link {
  color: #ccc;
  padding-right: 0.5em;
  transition: color 0.2s
}

.finfo__link--email {
  text-decoration: underline;
}

.finfo__link:hover {
  color: #fff;
}

.copyright {
  background-color: #222;
  bottom: 0;
  color: #555;
  padding: 3em 10em;
  position: absolute;
  width: 100%;
}

.copyright__logo {
  opacity: 0.3;
  transition: opacity 0.2s;
}

.copyright__logo:hover {
   opacity: 1;
}

.copyright__policy {
  float: left;
  margin-right: 1em;
}

.copyright__link {
  color: #555;
  text-decoration: underline;
  transition: color 0.2s;
}

.copyright__link:hover {
  color: #ccc;
}

.date-modified {
  float: right;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }

  .navbar--mobile {
    display: block;
  }

  .footer {
    height: 400px;
  }

  .finfo__title {
    display: none;
  }

  .finfo__col-2, .finfo__col-3 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    height: 450px;
  }
}

/*  ==============================================================
      Reusable CSS
    ==============================================================  */
.blockquote {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}

.blockquote__quote--em {
  color: #ffe65e;
}

.blockquote__cite {
  float: right;
  left: 2em;
  position: relative;
  top: 0.5em;
}

.blockquote__cite::before {
  content: "-";
  margin-right: 0.5em;
}

.button {
  border: solid 2px;
  cursor: pointer;
  padding: 0 20px;
  transition: 0.2s, color 0.2s;
}

.bullet::before {
  content: ">";
  margin-right: 1em;
}

.button--scroll-down {
  display: block;
  height: 2em;
  padding: 0;
  width: 2em;
  bottom: 4em;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 2;
  background-image: url(images/logos/arrow.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.button--scroll-down:hover {
  background-image: url(images/logos/arrow-black.png);
  background-color: #fff;
}

.button--black {
	border-color: #222;
	color: #222;
}

.button--black:hover {
	background-color: #222;
	color: #fff;
}

.button--white {
	border-color: #fff;
	color: #fff;
}

.button--white:hover {
	background-color: #fff;
	color: #222;
}

.button--grey {
  border-color: #ccc;
  color: #ccc;
}

.button--grey:hover {
  background-color: #fff;
  border-color: #fff;
  color: #222;
}

.content {
  padding: 0;
}

.content__head {
  grid-column: 3 / -3;
  border-bottom: solid 0.5px #000;
}

.content__title {
  float: left;
}

.content__sub {
  text-align: center;
  margin-bottom: 0.5em;
}

.content__body {
  text-align: justify;
  grid-column: 3 / -3 ;
}

.content__body--stretch {
  grid-column: 1 / -1;
}

.content__p {
  line-height: 1.2em;
  margin: 1em 0;
}

.content__p--em {
  font-weight: bold;
}

.content__link {
  text-decoration: underline;
  color: #666;
  transition: color 0.2s;
}

.content__link:hover {
  color: #111;
}

.content__pic--large {
  grid-column: 4 / -4;
}

.grid--col-12 {
  margin: 3em 0;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
  padding: 3em 6em;
}

.grid--col-3 {
  margin: 2em;
  display: grid;
  grid-gap: 7em;
  grid-template-columns: repeat(3, 1fr);
  padding: 7em;
}

.parallax {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.parallax__title {
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  .hero__p {
    display: none;
  }

  .blockquote {
    display: none;
  }
}

/*  ==============================================================
      index.html CSS
    ==============================================================  */
.hero {
  background-image: url(images/stock/pj0005_02.jpg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero__content {
  color: #fff;
  width: 80vw;
  margin: auto;
  padding: 13% 0;
}

.hero__title {
  letter-spacing: 0.1em;
}

.hero__p {
  font-size: 1.2em;
  line-height: 1.7em;
  margin-left: 2em;
  margin-top: 2em;
}

.hero__p--em-a {
  border: solid #fff 1px;
  padding: 0 0.5em;
  text-transform: uppercase;
}

.hero__p--em-b {
  background-color: #d62c2c;
  color: #222;
  padding: 0 0.5em;
  text-transform: uppercase;
}

.hero__content .blockquote {
  text-shadow: 0 2px 3px #000;
  float: right;
  margin-top: 4em;
}

.card {
  height: 700px;
  width: 100%;
  display: grid;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.card--small {
  grid-template-rows: 60% 40%;
}

.card--large {
  grid-template-columns: 40% 60%;
}

.card--black {
  background-color: #222;
}

.card--white {
  background-color: #eee;
}

.card--grey {
  background-color: #333;
}

.card__content {
  padding: 2em;
  position: relative;
}

.card--black .card__content {
  color: #fff;
}

.card--grey .card__content {
  color: #ccc;
}

.card__p {
  margin-top: 1em;
  line-height: 1.2em;
  font-size: 1.2em;
}

.card__img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__button {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%, 0);
}

.grid__intro {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.grid__projects {
  grid-row: 2 / 3;
  grid-column: 1 / 9;
}

.grid__news {
  grid-row: 2 / 3;
  grid-column: 9 / -1;
}

.grid__opportunities {
  grid-row: 3 / 4;
  grid-column: 1 / 6;
}

.grid__gallery {
  grid-row: 3 / 4;
  grid-column: 6 / -1;
}

@media only screen and (max-width: 1200px) {
  .hero__content {
    padding: 40vh 0;
    text-align: center;
  }

  .card--large {
    grid-template-rows: 60% 40%;
    grid-template-columns: auto;
  }

  .card__content {
    grid-row: 2 / 3;
  }

  .card__img {
    grid-row: 1 / 2
  }

  .grid__intro,
  .grid__projects,
  .grid__news,
  .grid__opportunities,
  .grid__gallery {
    grid-row: auto;
    grid-column: 1 / -1;
  }
}

/*  ==============================================================
      lustrum.html CSS
    ==============================================================  */
.relative {
  position: relative;
}

.lustrum {
  background-color: #222;
}

.lustrum__head {
  background-color: #fff;
  width: 100%;
  height: 50vh;
  padding: 2em;
}

.lustrum__button {
  position: absolute;
  bottom: 2em;
  left: 3em;
}

.lustrum__title {
  color: #222;
  text-align: center;
  letter-spacing: 0.1em;
}

.lustrum__subtitle {
  color: #222;
  text-align: center;
  letter-spacing: 0.4em;
}

.lustrum__subtitle--em {
  color: #d62c2c;
}

.portraits {
  position: absolute;
  top: 5em;
  left: 0;
  z-index: 1;
}

.portrait {
  width: 100%;
  background-color: #333;
  color: #aaa;
  text-align: center;
  transition: background-color 0.8s;
}

.portrait:hover {
  background-color: #fff;
  color: #222;
}

.portrait__border {
  border-top: solid 1px;
  margin: 0.5em 1em 1em 1em;
}

.portrait--kh .portrait__border {
  border-color:  #ffffff;
}

.portrait--s .portrait__border {
  border-color: #0e6fd1;
}

.portrait--j .portrait__border {
  border-color: #d10e59;
}

.portrait__image {
  width: 100%;
}

.portrait__name {
  margin-top: 0.5em;
}

.portrait__p {
  padding: 0 2em;
  margin-bottom: 1em;
}

/*  ==============================================================
      feedback.html CSS
    ==============================================================  */
.grid__form {
  display: grid;
  grid-template-columns: 62% 33%;
  grid-column-gap: 1%;
  grid-template-rows: auto;
  margin: 0 0;
}

.background--blue {
  background-color: lightblue;
}

.feedback {
  padding: 2.5em 10em 2.5em 10em;
}

.form__vl {
    border-left: .03em solid black;
    height: 40%;
    position: absolute;
    left: 60%;
    margin: 3% 0%;
    width: .1%;
    opacity: .2;
}

.form {
  grid-column: 1;
  font-size: 1.2em;
  margin: 5% 10% 5% 10%;
  background-color: white;
  border: 0;
  padding: 0;
  border-radius: .5em;
  font-size: 1.1em;
}

fieldset {
  padding: 1%;
  border: 0.05em solid #5e9af9;
  margin: 5% 0;
}

legend {
  font-weight: bolder;
}

form label {
  margin-bottom: .2em;
}

.form__question {
  display: block;
  padding-left: 1%;
  font-weight: bold;
}

.form__answer {
  display: block;
  padding-left: 3%;
}

form select {
  padding: .3em;
  max-width: 80%;
  border: .1em solid #2c7bd6;
  border-radius: 4px;
  width: 50%;
  font-size: .8em;
}

form select option {
  padding: .3em;
}

.form__input__text {
  max-width: 80%;
  font-size: .8em;
  border: .05em solid #2c7bd6;
  border-radius: 4px;
  padding: .3em;
}

.form__textarea__container {
  padding-left: 5%;
}

.form__table {
  width: 80%;
}

th, td {
  text-align: center;
}

th {
  width: 1%;
}

.form__textarea {
  width: 70%;
  max-width: 70%;
  font-size: .8em;
  border: .05em solid #2c7bd6;
  border-radius: 4px;
  padding: .3em;
}

.form__submit {
  display: block;
  margin: 5% 0 5% 90%;
  height: 3em;
  font-weight: bold;
  font-size: .7em;
  border-radius: 2em;
}

.button--green {
  background-color: #32CD32;
  border-color: #32CD32;
  color: #FFF;
}

.button--green:hover {
  background-color: #00FF00;
  border-color: #00FF00;
  color: #FFF
}

.form__desc {
  grid-column: 2;
  margin: 10% 15% 5% 0%;
}

.form__slider {
  vertical-align: middle;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 85%; /* Full-width */
  height: .5em; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 1em;
}

.form__slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle */
.form__slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1.1em; /* Set a specific slider handle width */
  height: 1.1em; /* Slider handle height */
  background: #2c7bd6; /* Blue background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

/* Customize the label (the container) */
.radio__container {
  display: block;
  position: relative;
  padding-left: 1.7em;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio__container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark__radio {
  position: absolute;
  top: 20%;
  left: 1%;
  height: .8em;
  width: .8em;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark__checkbox {
  position: absolute;
  top: 20%;
  left: 1%;
  height: .8em;
  width: .8em;
  background-color: #eee;
  border-radius: 10%;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .checkmark__radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .checkmark__radio {
  background-color: #5998ff;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .checkmark__checkbox {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .checkmark__checkbox {
  background-color: #5998ff;
}

.feedback2 {
  margin: 5%;
}

/* For small screen */
@media only screen and (max-width: 1200px) {
  .grid__form {
    grid-template-columns: 100%;
  }

  .form__desc {
    opacity: 0;
  }

  .form__vl {
    border: 0;
  }
}


/*  ==============================================================
      sitemap.html CSS
    ==============================================================  */
.sitemap {
  background-color: #222;
  color: #fff;
}

.sitemap__title {
  grid-column: 2 / -1;
}

.sitemap__links {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.sitemap__link {
  color: #aaa;
  transition: color 0.2s;
}

.sitemap__link::before {
  content: ">";
  margin-right: 1em;
}

.sitemap__link:hover {
  color: #fff;
}

.sitemap__nest {
  margin-left: 2em;
}

/*  ==============================================================
      about.html CSS
    ==============================================================  */
.about {
  padding: 0;
}

.about__head {
  grid-column: 3 / -3;
  border-bottom: solid 0.5px #000;
}

.about__body {
  text-align: justify;
  grid-column: 3 / -3 ;
}

.about__title {
  float: left;
}

.about__motto {
  margin-top: 2.1em;
  float: right;
  opacity: 0.3;
}

.about__pic {
  grid-column: 4 / -4;
}

.about__img {
  width: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.about__caption {
  text-align: center;
  opacity: 0.5;
  line-height: 1em;
}

.about__vision {
  grid-column: 1 / -1;
  background-color: #222;
  color: #fff;
  padding: 2em;
}

.about__text {
  margin: auto;
  width: 500px;
  text-align: center;
}

.about__sub {
  text-align: center;
  margin-bottom: 0.5em;
}

.about__p {
  line-height: 1.2em;
  margin: 1em 0;
}

.about__tagline {
  text-align: center;
  grid-column: 1 / -1;
  margin: 2em 0;
}

.about__tag {
  width: 500px;
}

.about__who {
  text-align: justify;
  grid-column: 3 / -3;
}

/*  ==============================================================
      sitemap.html CSS
    ==============================================================  */
.sitemap {
  background-color: #222;
  color: #fff;
}

.sitemap__title {
  grid-column: 2 / -1;
}

.sitemap__links {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.sitemap__link {
  color: #aaa;
  transition: color 0.2s;
}

.sitemap__link::before {
  content: ">";
  margin-right: 1em;
}

.sitemap__link:hover {
  color: #fff;
}

.sitemap__nest {
  margin-left: 2em;
}

/*  ==============================================================
      policy.html CSS
    ==============================================================  */
.policy__head {
  grid-column: 3 / -3;
  border-bottom: solid #000 0.5px;
}

.policy__body {
  grid-column: 3 / -3;
}

.policy__p {
  line-height: 1.2em;
  margin: 2em 0;
}

.policy__list {
  list-style-position: inside;
}

.policy__li {
  line-height: 1.2em;
  margin: 2em 0;
}

.policy__list--nested {
  margin-left: 2em;
  list-style-type: lower-alpha;
}

.policy__list--nested .policy__li {
  margin: 0.5em 0;
}

.policy__li .policy__p {
  margin: 0;
}

.policy__subtitle {
  margin: 1em 0;
}

.policy__p--em {
  font-weight: bold;
  margin-bottom: -1.5em;
}

/*  ==============================================================
      opportunities.html CSS
    ==============================================================  */
.opportunities {
  padding: 0;
}

.opportunities__jobs {
  background-color: #222;
  color: #fff;
  padding: 2em;
}

.opportunities__joblist {
  width: 10em;
  margin: auto;
}

.opportunities__li::before {
  content: ">";
  margin-right: 0.5em;
}

.opportunities__scholarships {
  background-color: #333;
  color: #ccc;
  padding: 2em 0;
}

.opportunities__detail {
  grid-column: 3 / -3;
}

.opportunities__scholarship-name {
  font-weight: bold;
}

.opportunities__detail .content__p--em {
  margin-top: 1em;
}

/*  ==============================================================
      news.html CSS
    ==============================================================  */

.news__title{
  text-decoration: underline;
  text-align: center;
  width: 100%;
  margin-bottom:0.5em;
}
.news__list__recent {
  margin: 5% 10%;
}

.news__list__recent p {
  display: block;
  border: 2px solid #222;
  clear: both;
}

.news__list__recent li {
  margin: 1em 0;
}

.news__list__recent p {
  transition: background-color 0.2s, color 0.2s;
}

.news__list__recent li:hover p {
  background-color: #222;
  color: #fff;
}

ul li a p{
  padding: 10px 10px;
}

.news__list__top {
  margin: 5%;
}

.news__list__grid {
  display: grid;
  margin: 5%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 30% 30% 40%;
  overflow: visible;
}

.news__box {
  display: grid;
  opacity: 1;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
  grid-template-rows: 60% 40%;
}

.news__box:hover {
  opacity: .9;
}

.news__box__1 {
  grid-column: 1;
  grid-row: 1;
  background-color: #424442;
}

.news__box__2 {
  grid-column: 2;
  grid-row: 1;
  background-color: #2C333F;
}

.news__box__3 {
  grid-column: 3;
  grid-row: 1/3;
  background-color: #588BAE;
  grid-template-rows: 80% 20%;
}

.news__box__4 {
  grid-column: 1/3;
  grid-row: 2;
  background-color: #A68064;
}

.news__box__5 {
  grid-column: 1/4;
  grid-row: 3;
  background-color: #2C333F;
  grid-template-rows: 80% 20%;
}

.news__box__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__box__desc {
  padding: 1em;
  position: relative;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.2em;
  color: white;
  position: relative;
}

.right-arrow-icon {
  font-size: 1.5em;
}

.right-arrow-icon--float {
  vertical-align: center;
  content:url(images/stock/newwindow.png);
  transform: scale(0.3);
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.news__list__archive {
  margin: 5em 5em;
}

.news__list__archive p {
  display: block;
  border-bottom: 1px solid black;
  clear: both;
}

.news__list__archive li:hover p {
  font-weight: bold;
}

.news__date {
  opacity: .5;
  float: right;
  margin-left: auto;
}

@media only screen and (max-width: 1200px) {
  .right-arrow-icon--float {
    display: none;
  }
}

/*  ==============================================================
      projects.html CSS
    ==============================================================  */
.card--projects {
  height: 500px;
  grid-template-columns: 1fr 1fr;
}

.card-pos {
  grid-column: 2 / -2;
}

@media only screen and (max-width: 1200px) {
  .card--projects {
    grid-template-columns: auto;
    grid-template-rows: 60% 40%;
  }
}

/*  ==============================================================
      past.html, current.html & future.html CSS
    ==============================================================  */
.projects {
  grid-row: 2 / 3;
  grid-column: 3 / -3;
}

.project__title {
  margin-bottom: 1em;
}

.project__pic {
  margin: auto;
  width: 80%;
  height: 65vh;
  text-align: center;
}

.project__img {
  height: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.project__caption {
  opacity: 0.5;
}

.project__p {
  text-align: justify;
  line-height: 1.2em;
  margin: 1em 0;
}

.project__table {
  width: 75%;
  margin: auto;
  margin-top: 3em;
}

.project__table tr {
  border-collapse: collapse;
}

.project__table th {
  padding: 1em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  border-right: solid 1px #222;
  border-left: solid 1px #222;
  width: 30%;
}

.project__table td {
  text-align: left;
  padding: 1em;
  border-right: solid 1px #222;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.project__table tr:last-child th,
.project__table tr:last-child td {
  border-bottom: none;
}

.slideshow {
  overflow: hidden;
}

.slide {
  display: none;
  position: relative;
}

.slideshow__button {
  cursor: pointer;
  font-size: 3em;
  position: relative;
  top: 35vh;
}

.slideshow__prev {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
}

.slideshow__next {
  grid-row: 2 / 3;
  grid-column: -2 / -1;
  text-align: center;
}

/*  ==============================================================
      gallery.html CSS
    ==============================================================  */
.gallery {
  margin-top: 2em;
  grid-column: 2 / -2;
}

.gallery__pic {
  display: block;
  float: left;
  position: relative;
  width: 31%;
  padding-bottom: 31%;
  margin: 1.16%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.gallery__pic:hover {
  opacity: 1;
}

.pic--1 {
  background-image: url(images/stock/institute.jpg);
}

.pic--2 {
  background-image: url(images/stock/pola.jpg);
}

.pic--3 {
  background-image: url(images/stock/hoki.jpg);
}

.pic--4 {
  background-image: url(images/stock/dome.jpg);
}

.pic--5 {
  background-image: url(images/stock/guangdong.jpg);
}

.pic--6 {
  background-image: url(images/stock/akagane.jpg);
}

.pic--7 {
  background-image: url(images/stock/midtown.jpg);
}

.pic--8 {
  background-image: url(images/stock/chronogate.jpg);
}

.pic--9 {
  background-image: url(images/stock/ginza.jpg);
}
