/*
#474747 - outer space grey
#222222 - jon's sexy black
#000000 - black
#FFEFED - seashell white
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
  color: #222;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

/* Utility CSS start */
.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.img-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Utility CSS end */

/* Universal CSS start */
.logo-img {
  display: block;
  margin: 10px auto;
}

.navbar {
  padding: 5px 0;
  list-style-type: none;
  width: 75%;
  margin: auto;
}

.navbar li {
  display: inline;
  float: left;
}

.navbar li:last-child {
  float: none;
}

.navbar-link {
  margin-right: 50px;
  text-transform: uppercase;
  transition: opacity 0.2s;
}

.navbar-link:hover {
  opacity: 0.4;
}

.navbar-active {
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
}

footer {
  background-color: #000;
  opacity: 0.9;
  padding: 6px;
  height: 1.4em;
}

footer * {
  color: #fff;
  margin: 0 20px;
  font-size: 0.8em;
}

.footer-link {
  transition: opacity 0.2s;
}

.footer-link:hover {
  opacity: 0.4;
}
/* Universal CSS end */

.banner {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.banner-content {
  position: absolute;
  top: 40%;
}

.darken {
  opacity: 0.7;
  width: 80%;
  height: 100%;
  background-color: #000;
  filter: blur(3px);
}

.darken-pos {
  position: absolute;
  top: 50%;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-size: 7.5em;
  font-family: "Bebas Neue", sans-serif;
}

.subtitle {
  color: #fff;
}

.button {
  padding: 0 20px;
  border-radius: 50px / 50px;
  border: solid 2px;
  transition: 0.2s, color 0.2s;
}

.black-button {
  color: #222;
  border-color: #222;
}

.black-button:hover {
  color: #fff;
  background-color: #222;
}

.white-button {
  color: #fff;
  border-color: #fff;
}

.white-button:hover {
  color: #222;
  background-color: #fff;
}

.grid-index {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  padding: 100px 0;
}

.index-card {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  height: 350px;
}

.index-card > img {
  max-width: 100%;
  width: auto;
  height: 350px;
  object-fit: cover;
}

.index-card > h2 {
  line-height: 1em;
  text-align: center;
  width: auto;
  height: auto;
  border: solid #222 5px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  color: #222;
}
